h1 {
    text-align: center;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    margin: 0 0 0;
    padding: 0 0 0;
}

.container div{
    display: flex;
    color: white;    
    margin: 0 0 0;
    padding: 0 0 0;
    width: calc(100%/5);
    aspect-ratio: 1 / 1;
    text-indent: -9999px;
}

.container div:hover{
    background-color: blue;
    color: blue;
}

.btn {
    margin-bottom: 25px;
}

